@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
}

body, html{
  margin: 0px;
  padding: 0px;
  font-family: 'Nunito', sans-serif;
}

.avatar {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  float: left;
  border-style: solid;
  border-color: #ffff;
  margin: 1vmin;
  margin-left: 10vmin;
}


#title {
  margin: 0px;
  background-color: #CCE8F8;
  text-align: center;
  padding: 2%;
  color: white;
  font-size: 3em;
}

h3 {
  text-align: center;
}

h5 {
  margin: 0px;
  padding: 1vmin;
}

hr {
  border: 1px solid white;
}

#contentGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1vmin;
  grid-row-gap: 1vmin;
  background-color: #CCE8F8;
  padding: 3vmin;
  font-size: 1.5rem;
}

.contentItem {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 1vmin;
  color: #454545;
  border: 2px solid #eee;
  border-radius: 0.25vmin;
  height: 100%;
  /* -webkit-box-shadow: 0px 0px 15px 5px rgba(110, 110, 110, 0.6);
  box-shadow: 0px 0px 10px 5px rgba(110, 110, 110, 0.6); */
  border-radius: 10px;
}

.footerImage {
  width: 30vw;
  height: 30vh;
  object-fit: cover;
  border-radius: 0.25vmin;
}

iframe {
  width: 50vw;
  height: 50vh;
  border-radius: 10px;
}

.video {
  text-align: center;
  padding-bottom: 1vmin;
  margin-bottom: 1vmin;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1vmin;
  grid-row-gap: 1vmin;
  background-color: #CCE8F8;
  padding: 1vmin;
  align-items: center;
}

.gallery img {
  margin: 0;
  padding: 1vmin;
  width: 30vw;
  background-color: white;
  transition: box-shadow 0.2s ease-in-out;
  border-radius: 10px;

}

.gallery img:hover{
  -webkit-box-shadow: 0px 0px 15px 5px rgba(115, 115, 115, 0.62);
  box-shadow: 0px 0px 10px 5px rgba(115, 115, 115, 0.62);
}
